<div class="card-trip">
  <img src="https://static.stacker.com/s3fs-public/styles/sar_screen_maximum_large/s3/croppedshutterstock1659067060GE9Zjpg_28.JPEG" />
  <div class="card-trip-infos">
    <div>
      <h2>Mexican food</h2>
      <p>The best chef on the aiaiai food!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://avatars.githubusercontent.com/u/101748011?v=4" class="card-trip-user avatar-bordered" />
  </div>
</div>

