.booking-notification {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 16px;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.booking-notification .booking-notification-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}

.booking-notification-infos .booking-notification-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.booking-notification-left {
  width: 75%;
  p {
    text-align: justify;
    padding-right: 16px;
  }
}
