.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #edebeb;
  padding:17px;
  z-index: 5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-left: 80px;
  margin-left: 123px;
}
.navbar-light .navbar-brand {
  font-weight: bold;
  color: #00cc99;
  transition: all 0.5s;
  font-size: 22px;
  &:hover {
    color:#00af83;
  }
}
.navbar-light .navbar-nav .nav-link:hover {
  transition: all 0.5s;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #00cc99;
}
.dropdown-menu.show {
  margin-right: 8px;
}
.navbar-light .navbar-nav .nav-link {
  margin-right: 93px;
  margin-left: -55px;
  font-size: 18px;
}
// @media (min-width: 500px) and (max-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // // Small devices (landscape phones, 576px and up)
// @media (max-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }
